video {
    max-height: 80vh;
}

button {
    color: white;
    background-color: steelblue;
    border: none;
    margin: 1px;
}

button:disabled {
    opacity: 0.3;
}

button:hover:not([disabled]) {
    opacity: 0.5;
    cursor: pointer;
}

button:active:not([disabled]) {
    background-color: black;
}

button.success {
    background-color: green;
}

button.cancel {
    background-color: red;
}
